<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <title>St Louis Resource Map</title>
    {% load static %}
    <link href="{% static '/css/map.css' %}" rel="stylesheet" type="text/css">
  </head>

  <body>

    <div id="floating-panel">
      <button onclick="toggleHeatmap()">Toggle Heatmap</button>
      <button onclick="changeGradient()">Change gradient</button>
      <button onclick="changeRadius()">Change radius</button>
      <button onclick="changeOpacity()">Change opacity</button>
    </div>
    <div id="map"></div>
    <script src="{% static '/js/heat.js' %}"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIT5WqChLN0yTAnQNB0r5CN-shZrAtxbM&libraries=visualization&callback=initMap">
    </script>
  </body>
</html>
