<!DOCTYPE html>
<html>
{% load static %}

<head>
    <title>PlaceID finder</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/markerStyle.css' %}">
</head>

<body>

    <div id="map"></div>
    <div id='floating-panel'>
        <button id = "toggleBed" value="true" onclick="toggleBeds()">Toggle Available Beds</button>
    </div>
    <script src="{% static 'js/markers.js' %}"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIT5WqChLN0yTAnQNB0r5CN-shZrAtxbM&libraries=places&callback=initMap" async defer></script>

</body>

</html>
