<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
<!--{% load static %} -->
  <title>{% block title %}CoC Network Login{% endblock %}</title>
  {% load static %}
  <link href= {% static "/css/bootstrap.min.css" %} type="text/css" rel="stylesheet">
  <link href= {% static "/css/one-page-wonder.css" %} type="text/css" rel="stylesheet">
  <!--{% static "/css/feedss.css" %} -->
</head>
<body>
  <header>
    <h1>Django Simple Login</h1>
    {% if user.is_authenticated %}
      Hi {{ user.username }}!
      <a href="{% url 'logout' %}">logout</a>
    {% else %}
      <a href="{% url 'login' %}">login</a>
    {% endif %}
  </header>
  <hr>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <hr>
 </body>
</html>
